body {
  font-family: 'Arial, sans-serif';
  background-color: #181818;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #9548dd;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #461971;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #461971;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form input[type="text"], 
.search-form select, 
.search-form input[type="number"] {
  padding: 10px;
  font-size: 1em;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #461971;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-form button:hover {
  background-color: #461971;
}

.app-container {
  text-align: center;
}

.popular-container, .search-container {
  width: 80%;
  margin: 0 auto;
}
